<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

<!--for glyphicons-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    {% if title %}
        <title>Unwrap - {{ title }}</title>
    {% else %}
        <title>Unwrap</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Unwrap</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-link" href="{{ url_for('unwrap_project') }}">The project</a>
              <a class="nav-link" href="{{ url_for('home') }}">Subscription</a>
              <a class="nav-link" href="{{ url_for('partners') }}">Partners</a>
              <a class="nav-link" href="{{ url_for('how_it_works') }}">How it works</a>
              
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav navbar-right">
              {% if current_user.is_authenticated %}
              <a class="nav-item nav-link" href="{{ url_for('cart') }}">Cart</a>
              <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
              <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
    
              <ul class="navbar-nav navbar-right" style="font-size: 25px;">
              <li class="nav-item" style="margin-right: 20px;" >
                <a href="#"><span class="glyphicon glyphicon-search"></span></a>
              </li>
              <li class="nav-item">                      
              <a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-user"></span></a>                 
              </li>
              <li class="nav-item">
              <a href="{{ url_for('cart') }}"><span class="glyphicon glyphicon-shopping-cart"></span></a>
              </li>      
              </ul>

                <a class="nav-item nav-link"  href="{{ url_for('login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
              
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
       <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h5 class="card-title">Quick Links</h5>
            <p class="card-text">Contact Us</p>
            <p class="card-text">Blog</p>
          </div>
        <div class="col-sm-4">
          <h5 class="card-title">Terms and Conditions</h5>
          <p class="card-text">Please read our terms and conditions here.</p>
        </div>
        <div class="col-sm-4">
          <h5 class="card-title">Newsletter</h5>
          <form class="form-inline">
            <div class="form-group mb-2">
              <label for="inputEmail2" class="sr-only">Email</label>
              <input type="text" class="form-control" id="inputEmail2" placeholder="Email">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-2">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
   </div>
        <!--<footer class="small text-center text-muted">-->
        <!--    Website built by HM <a href="https://google.com/">linkedin</a>.-->
        <!--</footer>-->
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>