{% extends "layout.html" %}
{% block content %}
    <!-- <div class="row"> -->
        <form method="POST" action="" class="form">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="text-align: center;">Log In</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
            </fieldset>
            <div class="form-group" style="text-align: center;">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
                <small class="text-muted">
                Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up Now</a>
                </small>
        </form>
    <!-- </div> -->
    <!-- <div class="row"> -->
        
    <!-- </div> -->
{% endblock content %}