{% extends "layout.html" %}


{% block content %}

<div class="container">
    <div class="row">
        <h1>The Unwrap Project</h1>
        <img src="/static/pic1.jpg" class="d-block w-100" alt="...">
        <h1>
            <p>We grew up with the wrong recycling idea!</p>
        </h1>
        <h3><p>Our health and our bay are in danger. Plastic is toxic. </p></h3>

        <p>Every piece of plastic ever produced is still here, on landfills, in the ocean, but also in the air we breath, the water we drink, in the animals and plants we eat and the ground we leave on. </p>
        
        <div>  
        <img width="100%" src= {{ url_for('static', filename='pic8.jpg') }}  />
        </div>
        <div >  
        <h1>
            <p >So let's act and reduce our plastic consumption!</p>
        </h1>
        </div>
        <p>Our goal is to ease the transition to a plastic-free living in the great LA area. Our solution is to offer alternatives to our community and partner with brands that want and are ready to give alternatives.</p>
        <p>We want to keep it <b> easy, clean and accessible.</b> Our First step is Refill@home. A customizable "box" of locally made products in locally made containers that we can refill. Our ultimate goal is to open a physical spot in LA for plastic concerned customers. </p>

<!--TODO-->
      
        <h1>
        <p>Our Partners</p>
        </h1>
        <h5>
        <p>We’ve talked to many suppliers and curated the ones that had both great products and the will to sell in bulk to reduce packaging. </p>
        </h5>
        <h4><b>Our partners are curated through 4 main criteria:</b></h4>

            



        <ul style="list-style-type:none;">
            <li>Sustainable materials/ingredients</li>
            <li>Great quality</li>
            <li>Packaged-free (supplied in bulk) or at least plastic-free</li>
            <li>Local first</li>
        </ul>

        <!-- <h1>
            <p>The Founders</p>
        </h1> -->
    </div>
</div>



{% endblock content %}